html, body, div, input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html 
{
    width: 100%;
    height: 100%;
}

body 
{
    background: white;
    font-family: 'Amiko';
    font-size: 16px;
}

#main-content
{
    overflow: auto;
}

#logo
{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
#logo a
{
    font-family: 'Bree Serif', Times, serif;
    color: #333;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo a:visited
{
    color: #333;
}

#header
{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.section
{
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    clear: both;
}

.section-content
{
    margin: 20px;
    overflow: auto;
}


.error_message
{
    color: red;
    font-weight: bold;
}

.wide_text_wrapper, .fullwidth_text_wrapper
{
    display: inline-block;
}

.wide_text_wrapper
{
    width: 90%;
}

@media all and (max-width: 950px)
{
    .wide_text_wrapper
    {
        width: 100%;
    }
}

.fullwidth_text_wrapper, .wide_text_wrapper input, .fullwidth_text_wrapper input
{
    width: 100%;
}

.home-cta
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 120px;
}

.center
{
    text-align: center;
}

.fitscreen
{
    width: 100vw;
    height: 92vh;
    min-height: 200px;
}

.main-bg
{
    background: url("images/background_home.jpeg") no-repeat right bottom;
    background-size:cover;
    max-width: none;
    float: left;
}

input
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 10px;
}

input[type=submit]
{
    cursor: pointer;
}

.right_submit
{
    float: right;
}

.button, .big-btn, .small-btn, input[type=submit].small-btn, input[type=submit].button, input[type=submit].big-btn
{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    background: #1A8EF3;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .big-btn:hover, input[type=submit].button:hover, input[type=submit].big-btn:hover, .small-btn:hover, input[type=submit].small-btn:hover
{
    background: #33A7FF;
    text-decoration: none;
}

.button, input[type=submit].button
{
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 10px;
}

.big-btn, input[type=submit].big-btn
{
  font-size: 22px;
  padding: 20px 45px 20px 45px;
}

.small-btn, input[type=submit].small-btn
{
    font-size: 16px;
    padding: 9px 10px;
}

.small-btn.view_tasks
{
    font-size: 12px;
    padding: 3px 5px;
    background: #fff;
    color: #1A8EF3;
    border: 1px solid #1A8EF3;
}

#add_new_task_wrap
{
    margin-top: 50px;
    padding-top: 20px;
}

#add_new_task input[type=submit]
{
    margin-bottom: 20px;
}

#manage_list_form
{
    clear: both;
}

.task_item
{
    padding: 8px 5px;
    border: 1px solid #dedede;
    margin-bottom: 2px;
    border-radius: 5px;
}

.task_item div
{
    display: inline;
}

.task_item.completed
{
    text-decoration: line-through;
    color: #AAA;
}


#updateList_submit
{
    border: 1px solid #1CA648;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 10px;
}

#updateList_submit p
{
    margin-top: 0px;
}

#updateList_submit input[type=submit].button
{
    background: #1CA648;
}

#updateList_submit input[type=submit].button:hover
{
    background: #35BF61;
}

#show_tasks_button
{
    cursor: pointer;
    margin-bottom: 20px;
}

.hide_list
{
    display: none;
}

.right_icon
{
    float: right;
}

a.right_icon, a.title_edit.edit_icon
{
    width: 18px;
    height: 18px;
    background-size: 18px !important;
    background-repeat: no-repeat !important;
    display: inline-block;
}

a.delete_icon
{
    background: url('images/delete_light.png');
}

a.delete_icon:hover
{
    background: url('images/delete_dark.png');
}

a.edit_icon, a.title_edit
{
    background: url('images/edit_light.png');
    margin-right: 30px;
}

a.right_icon.edit_icon:hover, a.title_edit:hover
{
    background: url('images/edit_dark.png');
}

.title_edit
{
    margin-left: 20px;
}

.cancel_edit
{
    float: right;
    background: #BBB;
    margin-right: 10px;
}

.cancel_edit:hover
{
    background: darkred;
}

.edit_task_wrapper
{
    margin-bottom: 10px;
}

#edit_title input[type=text]
{
    font-size: 20px;
}