html, body, div, input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html 
{
    width: 100%;
    height: 100%;
}

body 
{
    background: white url("images/background.jpg") no-repeat right bottom;
    font-family: 'Amiko';
    font-size: 16px;
}

#main-content
{
    overflow: auto;
}

#logo
{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
#logo a
{
    font-family: 'Bree Serif', Times, serif;
    color: #333;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo a:visited
{
    color: #333;
}

#header
{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.section
{
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.section-content
{
    margin: 20px;
    overflow: auto;
}


.error_message
{
    color: red;
}

.wide_text_wrapper, .fullwidth_text_wrapper
{
    display: inline-block;
}

.wide_text_wrapper
{
    width: 90%;
}

.fullwidth_text_wrapper, .wide_text_wrapper input, .fullwidth_text_wrapper input
{
    width: 100%;
}

.home-cta
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 120px;
}

.center
{
    text-align: center;
}

.fitscreen
{
    width: 100vw;
    height: 92vh;
    min-height: 200px;
}

.main-bg
{
    background: url("images/background_home.jpeg") no-repeat right bottom;
    background-size:cover;
    max-width: none;
    float: left;
}

input
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 10px;
}

input[type=submit]
{
    cursor: pointer;
}

.right_submit
{
    float: right;
}

.button, .big-btn, input[type=submit].button, input[type=submit].big-btn
{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    background: #3498db;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .big-btn:hover, input[type=submit].button:hover, input[type=submit].big-btn:hover
{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.button, input[type=submit].button
{
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 10px;
}

.big-btn, input[type=submit].big-btn
{
  font-size: 22px;
  padding: 20px 45px 20px 45px;
}